<div fxLayout="row" fxLayoutAlign="center">
  <mat-checkbox class="margins">Check me!</mat-checkbox>
</div>
<div fxLayout="row" fxLayoutAlign="center">
  <button type="button" class="margins" mat-raised-button color="primary">Click Me!</button>
  <button type="button" class="margins" mat-flat-button>Click me!</button>
  <button type="button" class="margins" mat-raised-button>Click me!</button>
</div>
<div fxLayout="row" fxLayoutAlign="center">
  <button type="button" class="margins" mat-stroked-button>Click me!</button>
  <button type="button" class="margins" mat-flat-button color="primary">Click me!</button>
  <button type="button" class="margins" mat-raised-button color="primary">Click me!</button>
</div>
<div fxLayout="row" fxLayoutAlign="center">
  <button type="button" class="margins" mat-stroked-button color="primary">Click me!</button>
  <button type="button" class="margins" mat-flat-button color="accent">Click me!</button>
  <button type="button" class="margins" mat-raised-button color="accent">Click me!</button>
</div>
<div fxLayout="row" fxLayoutAlign="center">
  <button type="button" class="margins" mat-stroked-button color="accent">Click me!</button>
  <button type="button" class="margins" mat-flat-button color="warn">Click me!</button>
  <button type="button" class="margins" mat-raised-button color="warn">Click me!</button>
</div>
<div fxLayout="row" fxLayoutAlign="center">
  <button type="button" class="margins" mat-stroked-button color="warn">Click me!</button>
</div>
