<div>
  <mat-checkbox>Check me!</mat-checkbox>
  <button mat-flat-button (click)="btnClick()">Click me!</button>
  <button mat-raised-button>Click me!</button>
  <button mat-stroked-button>Click me!</button>
  <button mat-flat-button color="primary">Click me!</button>
  <button mat-raised-button color="primary">Click me!</button>
  <button mat-stroked-button color="primary">Click me!</button>
  <button mat-flat-button color="accent">Click me!</button>
  <button mat-raised-button color="accent">Click me!</button>
  <button mat-stroked-button color="accent">Click me!</button>
  <button mat-flat-button color="warn">Click me!</button>
  <button mat-raised-button color="warn">Click me!</button>
  <button mat-stroked-button color="warn">Click me!</button>
</div>
